#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#mainCard{
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 0 5px #FEFE, 0 0 0 10px #000, 0 0 0 15px #FEFE;

  button{
  box-shadow: 0 0 0 .5px #FEFE, 0 0 0 1px #000, 0 0 0 1.5px #FEFE;
  margin: 5px;
  border-radius: 5%;
  }

}

h1, h2, h3, h4, h5, h6{
  color: #FEFE;
}